@model IEnumerable<AdvancedProgramming2Server.Models.Rating>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mainHeader">All Reviews - @(Model.Count()>0?"Average Score: "+(Math.Round(((Model.Sum((item)=>item.Score)/(1.0*Model.Count())))*10)/10.0):"No Scores")</h1>

<form asp-action="Index" id="formId">
    <div class="formDiv">
        <input type="text" class="form-control inputTxt" placeholder="Filter Reviews" id="queryId" />
        <button class="btn searchBtn"  type="submit" value="search" >
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>   
        </button>
    </div>
</form>

<table border="0" class="table fullTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="tableBody">
@foreach (var item in Model) {
        <tr class=@("score"+item.Score)>
                <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Review)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RatingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RatingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RatingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts{
    <link rel="stylesheet" href="~/css/CssForIndex.css">
    <script src="~/js/Search.js"></script>
}